In [ ]:
# Pandas : DataFrame

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
score = [[12, 20, 18], [13, 14, 6], [12, 8, 19], [20, 16, 9]]

In [ ]:
df = pd.DataFrame(data=score)
df

In [ ]:
dars = ['Python', 'C++', 'Java']
name = ['Ali', 'Sara', 'Taha', 'Mahsa']

In [ ]:
df = pd.DataFrame(data=score, index=name, columns=dars)
df

In [ ]:
d = {'Python': [12, 13, 12, 20], 'C++': [20, 14, 8, 16], 'Java': [18, 6, 19, 9] }
student = pd.DataFrame(data=d, index=name)
student

In [ ]:
df.values

In [ ]:
df.columns

In [ ]:
'Java' in df.columns

In [ ]:
df.index

In [ ]:
'Sara' in df.index

In [ ]:
df.axes

In [ ]:
df.dtypes

In [ ]:
### Indexing, Selection, and Filtering

In [ ]:
df

In [ ]:
df['C++']

In [ ]:
df[['Python', 'Java']]

In [ ]:
df

In [ ]:
df[:3]

In [ ]:
df < 10

In [ ]:
df[df < 10] = 0
df

In [ ]:
df[df['C++'] > 10]

In [ ]:
# loc , iloc

In [ ]:
df

In [ ]:
df.loc['Taha']

In [ ]:
df.iloc[2]

In [ ]:
df.iloc[[2]]

In [ ]:
df.loc['Taha', ['Python','Java']]

In [ ]:
df.iloc[[2], [0, 2]]

In [ ]:
df

In [ ]:
df.loc[:'Taha', 'Python']

In [ ]:
df.iloc[:3,0]

In [ ]:
df

In [ ]:
df.iloc[:2, [0, 1]]

In [ ]:
df.iloc[0, 1]

In [ ]:
df.iloc[[0, 2]]

In [ ]:
df

In [ ]:
df.iloc[[True, False, True, True]]

In [ ]:
df.iloc[:, [True, False, True]]

In [ ]:
df.iloc[[True, False, True, True], [True, False, True]]

In [ ]:
# iat : Access a single value for a row/column pair by integer position.

In [ ]:
df

In [ ]:
df.iat[2, 1]

In [ ]:
df.iat[0, 1]

### reindex

In [ ]:
df

In [ ]:
df.reindex(['Ali', 'Sara', 'Taha', 'Mahsa', 'Omid'], fill_value=0)

In [ ]:
df.reindex(columns=['Python', 'C++', 'Java', 'Pascal'], fill_value=0)

In [ ]:
### sort_values

In [ ]:
df

In [ ]:
df.sort_values(by='Python', ascending=False)

In [ ]:
df.sort_values(by='Python')

In [ ]:
df.sort_values(by=['Python', 'C++'])

In [ ]:
### sort_index

In [ ]:
df

In [ ]:
df.sort_index()

In [ ]:
df.sort_index(axis=1)

In [ ]:
df.sort_index(axis=1, ascending=False)

### idxmax

In [ ]:
df

In [ ]:
df.idxmax()

### sum() , mean() , describe()

In [ ]:
df

In [ ]:
df.sum()

In [ ]:
df.mean()

In [ ]:
df.sum(axis='columns')

In [ ]:
df.mean(axis='columns')

In [ ]:
df.mean(axis='columns', skipna=False)

In [ ]:
df.describe()

### Transpose

In [ ]:
df

In [ ]:
df.T

### apply

In [ ]:
df

In [ ]:
df.apply(lambda x: x-1)

In [ ]:
df -1

In [ ]:
def myfunc(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

df.apply(myfunc)

In [ ]:
### map

In [ ]:
df

In [ ]:
df['Python'].map(lambda x: x - 1)

### applymap

In [ ]:
df

In [ ]:
df.applymap(lambda x: '%.4f' % x)

### drop

In [ ]:
df

In [ ]:
a = df.drop(['Java'], axis=1)

In [ ]:
a

In [ ]:
df

In [ ]:
df.drop(['Sara'])

In [ ]:
df

In [ ]:
df.drop(['Sara'], inplace=True)

In [ ]:
df

### empty

In [ ]:
df.empty

### Arithmetic methods with fill values

In [ ]:
arr1 = np.arange(12).reshape((4, 3))
arr1

In [ ]:
df1 = pd.DataFrame(data=arr1, columns=list('abc'))
df1

In [ ]:
arr2 = np.arange(10).reshape((5, 2))
df2 = pd.DataFrame(data=arr2, columns=list('ab'))
df2

In [ ]:
df2.loc[1, 'b'] = np.nan
df2

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
df1.add(df2)

In [ ]:
df1.add(df2, fill_value=0)

In [ ]:
df1.sub(df2)

In [ ]:
df1

In [ ]:
df1.cumsum()

### index.name, columns.name

In [ ]:
mydict = {'City':['Hamedan', 'Hamedan', 'Hamedan', 'Tehran', 'Tehran', 'Tehran'],
          'Year':[1396, 1397, 1398, 1397, 1398, 1399],
          'Pop': [2, 2.2, 3, 8, 8.5, 9]}

f = pd.DataFrame(data=mydict)
f

In [ ]:
d = {'Tehran': {1397: 8, 1398: 8.5, 1399: 9},'Hamedan': {1396: 2, 1397: 2.2, 1398: 3}}
frame = pd.DataFrame(data=d)
frame

In [ ]:
frame.index.name = 'year'
frame

In [ ]:
frame.columns.name = 'city'
frame

### Operations between DataFrame and Series

In [ ]:
frame

In [ ]:
myser = frame.iloc[1]
myser

In [ ]:
frame + myser

## Hierarchical Indexing

In [ ]:
frame = pd.DataFrame({'C++': [6, 7, 4, 16, 14, 13, 15, 7], 
                      'Python': [3, 2, 5, 14, 19, 18, 16, 10],
                      'K1': ['one', 'one', 'one', 'two', 'two', 'two', 'two', 'two'],
                      'K2': ['ali', 'reza', 'sara', 'ali', 'reza', 'sara', 'taha', 'farid']})
frame

In [ ]:
df = frame.set_index(['K1', 'K2'])
df

In [ ]:
df.sort_index(level=1)

In [ ]:
df.mean(level='K2')

In [ ]:
df

In [ ]:
df.unstack()

In [ ]:
df

In [ ]:
df.swaplevel('K1', 'K2')

In [ ]:
##

In [ ]:
d = np.arange(12).reshape((4, 3))
c = [['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']]
i = [['a', 'a', 'b', 'b'], [1, 2, 1, 2]]

frame = pd.DataFrame(data=d,index=i, columns=c)
frame

In [ ]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

<div class="alert alert-block alert-info">
<div style="direction:rtl;text-align:right;font-family:B Lotus, B Nazanin, Tahoma"> دانشگاه شهید مدنی آذربایجان<br> برنامه نویسی پیشرفته با پایتون<br>امین گلزاری اسکوئی <br>1400-1401<br>
</div>
<a href="https://github.com/Amin-Golzari-Oskouei/Python-Programming-Course-Advanced-2021"> Codes and Projects (click here) </a>
<a href="https://drive.google.com/drive/folders/1Dx3v7fD1QBWL-MNP2hd7iIxaRbeALkkA">slides and videos (click here)</a>
</div>